<!--
Email template: Voucher Notification
Description: This email is sent to the recipient of a gift your customer has purchased
-->

<!-- Content -->
{% include "mailer_partials/email_header" %}
<tr style="border-radius:0px">
    <td class="header-title">
      <h1>{{ purchaser_name }} sent you a gift from {{ school.name }}</h1>
    </td>
</tr>
<tr>
    <td class="content" style="padding-bottom:32px">
        <p class="text-center"><img src={{ image_url }}></p>
        <h2 class="text-center" style="margin-bottom:12px">{{ purchasable.name }}</h2>
        {%  if purchasable.author != null %}
        <p class="text-center" style="margin-bottom:12px">by {{ purchasable.author.name }}</p>
        {% endif %}
        <br>
        {%  if note != null %}
            <p class="text-center" style="font-size:14px">"{{ note }}"</p>
        {% endif %}
    </td>
</tr>
<tr>
    <td class="content">
        <p class="text-center" style="padding-top:0">
            <a href="{{ enroll_user_url }}" class="btn-primary">
                Redeem gift
            </a>
        </p>
    </td>
</tr>

<!-- PROMOTIONAL PRODUCTS SECTION START -->
<tr>
  <td style="padding: 30px 20px; background-color: #f9f9f9; text-align: center; font-family: sans-serif;">
    <h3 style="color: #333; margin-bottom: 20px; ">You might also like these courses:</h3>
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td align="center" style="padding: 0 10px;">
          <a href="https://www.dojang.org/p/membership" style="text-decoration: none; color: #333;">
            <img src="https://static-media.hotmart.com/cvbzJP2hCR-gTkindTb8W_5ppzE=/848x478/https://uploads.teachablecdn.com/membership/pop9o64TiKpv9jahcpvw_Untitled+design-8.png" alt="Digital Dojang Memberships" width="250" style="border-radius: 10px; display: block; margin: 0 auto;">
            <p style="margin: 10px 0 0 0; font-size: 16px; text-align: center;">Digital Dojang Membership</p>
          </a>
        </td>
        <td align="center" style="padding: 0 10px;">
          <a href="https://dojang.org/p/kicking-fundamentals" style="text-decoration: none; color: #333;">
            <img src="https://static-media.hotmart.com/ByJgdrTqZIjB9ciklvy-FDNRvjQ=/848x478/https://uploads.teachablecdn.com/attachments/PdvNVvJTFCig8GxI0JAp_kicking+fundamentals+branding.jpg" alt="Kicking Fundamentals Course" width="250" style="border-radius: 10px; display: block; margin: 0 auto;">
            <p style="margin: 10px 0 0 0; font-size: 16px; text-align: center;">Kicking Fundamentals</p>
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- PROMOTIONAL PRODUCTS SECTION END -->

<tr>
  <td class="text-left" style="font-size:12px">
        <br>
        Congratulations on your gift! When you tap ‘Redeem gift’,
        you will be directed to {{ school.name }} to sign in or
        create an account. Then, you can access your gift.
        <br><br>Best wishes,
        <br>{{ school.name }}
    </td>
</tr>
<br>
</table>
