<style type="text/css">
  /* -------------------------------------
  Email template: email_styles
  Description: The CSS used across all email templates.
  ------------------------------------- */
  
  
  /* -------------------------------------
  GLOBAL
  ------------------------------------- */
  .rounded-gravatar {
    border-radius: 30px;
    margin-top: -5px;
  }
  
  .aligned-user {
    position:relative;
    clear:both;
  }
  
  .condensed-users {
    margin-left:120px;
    margin-right:120px
  }
  
  .clear-elements {
    clear: both;
  }
  
  .margin-left-10 {
    margin-left: 10px;
  }
  
  img {
    max-width: 100%;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Times New Roman", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
  }
  
  .table-wrapper, .table-wrapper-branding, .legal-wrapper {
    width: 700px;
    margin: auto;
  }
  
  .table-wrapper {
    margin-top: 50px;
    box-shadow: 0 8px 20px #e3e7ea !important;
    -webkit-box-shadow: 0 8px 20px #e3e7ea !important;
    -moz-box-shadow: 0 8px 20px #e3e7ea !important;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
  }
  
  .table-wrapper-branding {
    margin-top: 15px;
    background-color: white;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    height: 42px;
    box-shadow: 0 8px 20px #e3e7ea !important;
    -webkit-box-shadow: 0 8px 20px #e3e7ea !important;
    -moz-box-shadow: 0 8px 20px #e3e7ea !important;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
  }
  
  .enrolled-students-cap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .enrolled-students-wrapper {
    width: 505px;
  }
  
  .enrolled-cap {
    font-size: 14px;
    font-weight: 400;
    color: #646464;;
    line-height: 125%;
    letter-spacing: 0.5px;
  }
  
  .progressbar {
    width: 505px;
    border-radius: 99px;
    -moz-border-radius: 99px;
    -webkit-border-radius: 99px;
    text-align: right;
    font-size: 0.7em;
    height: 8px;
    line-height: 40px;
    padding: 0px;
    background: #E4E4E4;
  }
  
  .progressbar-fill {
    float: left;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-left-radius: 99px;
    -webkit-border-bottom-left-radius: 99px;
    -moz-border-radius-topleft: 99px;
    -moz-border-radius-bottomleft: 99px;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
    border-radius: 99px;
    -moz-border-radius: 99px;
    -webkit-border-radius: 99px;
    text-align: left;
    height: 8px;
    background: {{ email_settings.brand_secondary }};
    background-color: {{ email_settings.brand_secondary }};
  }
  
  
  /* -------------------------------------
  ELEMENTS
  ------------------------------------- */
  p a {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: {{ email_settings.brand_secondary }};
  }
  
  .btn-primary {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #FFF;
    background-color: {{ email_settings.brand_secondary }};
    border: solid {{ email_settings.brand_secondary }};
    line-height: 2;
    max-width: 100%;
    font-size: 14px;
    padding: 8px 40px 8px 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  /* -------------------------------------
  BODY
  ------------------------------------- */
  table.body-wrap {
    width: 100%;
    padding: 30px 55px;
    background: #f6f6f6;
    margin: 0;
    font-size: 100%;
    line-height: 1.8;
    font-size: 15px;
  }
  
  .container {
    display: block !important;
    margin: 0 auto !important; /* makes it centered */
    clear: both !important;
  }
  
  /* -------------------------------------
  HEADER
  ------------------------------------- */
  .header {
    background-repeat: no-repeat;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 80px;
    background: {{ email_settings.brand_primary }};
    background-size: 300px;
    background-position: 100%;
    background-repeat: no-repeat;
    line-height: 55px;
    padding-top: 40px;
    text-align: center;
    color: {{ email_settings.brand_navbar_text }};
  }
  
  .header img {
    border-radius: 50%;
    padding: 5px;
  }
  
  .header-title {
    background: {{ email_settings.brand_primary }};
    color: {{ email_settings.brand_navbar_text }};
    padding: 0px 60px 40px;
    text-align: center;
    {% if email_settings.brand_primary == "#ffffff" %}
      padding-bottom: 0px;
    {% endif %}
    margin-bottom: 40px;
  }
  
  .header-school-title {
    font-weight: bold;
  }
  
  .header-title h1, .header-title h1 a {
    font-size: 28px;
    line-height: 40px;
    padding-top: 0px;
    margin-bottom: 10px;
    font-weight: 400;
    color: {{ email_settings.brand_navbar_text }};
  }
  
  .content .header-title h1:first-child {
    padding-top: 0px;
  }
  
  .header-title p, .header-title p a {
    color: {{ email_settings.brand_navbar_text }};
    opacity: 0.8;
  }
  
  .header-margin-overide {
    margin-top: -40px;
  }
  
  /* -------------------------------------
  CONTENT
  ------------------------------------- */
  
  .content {
    margin: 0 auto !important; /* makes it centered */
    clear: both !important;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 40px;
  }
  
  .content p, .content h1, .content h2, .content table, .content hr {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .content p:first-child, .content h1 {
    padding-top: 40px;
  }
  
  .content p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .condensed-width {
    max-width: 510px;
    margin: auto;
  }
  
  .table-container {
    display: flex;
    justify-content: center;
  }
  
  .content-bordered {
    padding: 24px;
    border: 1px solid #EFEFF5;
  }
  .content-bordered tr {
    margin: 24px 0;
  }
  
  span .left {
    float: left;
  }
  span .right {
    float: right;
  }
  
  /* -------------------------------------
  FOOTER
  ------------------------------------- */
  .footer {
    padding-top: 30px;
    padding-bottom: 55px;
    width: 100%;
    clear: both !important;
    text-align: center;
  }
  
  .footer p {
    font-size: 12px;
    color: #666;
  }
  
  .footer a {
    color: #999;
  }
  
  .footer .social-icons {
    padding-top: 5px;
  }
  
  
  /* -------------------------------------
  INVOICE RECEIPT
  ------------------------------------- */
  
  h1.price-jumbo {
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    padding-top: 10px;
  }
  
  .data-table {
    width: 550px;
    margin:auto;
    margin-bottom: 30px;
  }
  
  .data-table td {
    color: #a0a5ad;
    letter-spacing: 0.6px;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px dashed #B5C2D3;
  }
  
  .data-table .total td, .data-table .total td.text-right {
    background: #f7f7f7;
    border: 0;
    color: #4f5c63;
    font-weight: bold;
  }
  
  .data-table td a {
    color: {{ email_settings.brand_secondary }};
  }
  
  .data-table td.text-right {
    color: #4f5c63;
  }
  
  /* -------------------------------------
  TYPOGRAPHY
  ------------------------------------- */
  a {
    color: {{ email_settings.brand_secondary }};
    word-wrap: break-word;
  }
  
  h1, h2, h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.1;
    margin-bottom: 15px;
    color: #47505E;
    margin: 0px 0 10px;
    line-height: 1.2;
    font-weight: 200;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .small {
    font-size: 80%;
    line-height: 250%;
    vertical-align: middle;
  }
  
  .margin-none {
    margin: 0 !important;
  }
  
  .padding-none {
    padding: 0 !important;
  }
  
  h1 {
    font-size: 28px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p, ul, ol {
    font-weight: normal;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 1.7;
    margin-bottom: 1.3em;
    font-size: 15px;
    color: #47505E;
  }
  
  p:first-child {
    margin-top: 0px;
  }
  
  ul li, ol li {
    margin-left: 50px;
    list-style-position: inside;
  }
  
  hr {
    border-top-width: 0;
  }
  
  /* Unsubscribe Link */
  a.unsubscribe-link {
    font-size: 12px;
    margin-top: 50px;
    display: block;
    text-align: center;
    text-decoration: underline;
  }
  
  /* Branding Link */
  a.branding-link {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  
  /* Branding Image */
  img.branding-image {
    -ms-interpolation-mode: bicubic;
    border: 0;
    height: auto;
    line-height: 100%;
    outline: none;
    max-width: 178px;
    width: 60px;
    height: 11px;
    margin-top: 4px;
  }
  
  /* Legal Text */
  p.legal-text {
    font-size: 12px;
    margin-top: 50px;
  }
  
  /* -------------------------------------
  TAX FORMS
  ------------------------------------- */
  .tax-form-box {
    border: solid;
    border-width: 2px;
    border-color: #808080;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    height: 45px;
    text-align: center;
    color: #44443f;
  }
  
  /* -------------------------------------
  FREE TRIAL ORDER SUMMARY
  ------------------------------------- */
  
  .free-trial-summary p, .free-trial-summary .small-text {
    font-size: 12px;
    line-height: 19px;
    color: black;
  }
  
  .free-trial-summary p a {
    color: #20BDAF !important;
    text-decoration: none;
  }
  
  .free-trial-summary table {
    font-size:14px;
    line-height:21px;
    border-collapse:collapse;
    width: 100%;
  }
  
  .free-trial-summary table td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .free-trial-summary .heading {
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
  }
  
  .free-trial-summary .gray {
    color: #6B6D7C;
  }
  
  .free-trial-summary .border-row {
    border-top: 1px solid #EFEFF5;
  }
  
  .free-trial-summary .content-bordered {
    width: 100%;
    border-radius: 4px;
  }
  
  /* -------------------------------------
  LEGACY STUFF
  These are no longer needed, but will save old customized templates from breaking
  ------------------------------------- */
  .content h1.headline:first-child, .content h2.headline:first-child {
    padding-top: 40px;
  }
  
  .content h2.subline {
    font-weight: 300;
    font-size: 20px;
  }
  
  .invoice {
    margin: 20px auto;
    text-align: left;
    width: 80%;
  }
  
  .invoice td {
    padding: 15px 10px;
    font-size: 110%;
    line-height: 125%;
  }
  
  .invoice .invoice-details {
    font-size: 19px;
  }
  
  .invoice .invoice-items {
    width: 100%;
  }
  
  .invoice .invoice-items td {
    border-top: #eee 1px solid;
  }
  
  .invoice .invoice-items .total td {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    font-weight: 700;
  }
  
  .alignright {
    text-align: right;
  }
  
  .personal-details {
    margin: 0px auto;
    text-align: left;
    width: 80%;
  }
  
  .personal-details td {
    padding: 15px 10px;
    font-size: 100%;
    line-height: 125%;
  }
  
  .personal-details .detail-items {
    width: 100%;
  }
  
  .personal-details .detail-items tr:first-child td {
    border-top: #eee 1px solid;
  }
  
  .personal-details .detail-items td {
    border-bottom: #eee 1px solid;
  }
  
  .personal-details .detail-items .stripe {
    background: #fcfcfc;
  }
  
  .personal-details .detail-items .alignleft {
    font-weight: bold;
  }
  
  .personal-details .detail-items .alignright {
    border-left: 1px solid #eee;
    padding-left: 20px;
  }
  
  /*
  INTAKE FORM EMAILS
  */
  
  
  .intake__response-header {
    padding-left: 40px;
    margin-top: 48px;
  }
  
  .intake__question {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -14px;
  }
  
  .intake__answer {
    font-size: 14px;
  }
  
  /*
  Moderate/New Comment
  */
  
  .header-title .comment-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  
  .comment-link {
    color: #000000;
    font-size: 14.2222px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    margin: 16px 0;
  }
  
  .comment-link a {
    color: inherit;
    text-decoration-line: underline;
  }
  
  .comment-author {
    color: #000000;
    font-size: 14.2222px;
    font-weight: normal;
    line-height: 21px;
    margin-bottom: 0;
    margin-top: 12px;
  }
  
  .comment-date {
    color: #717171;
    font-size: 12.642px;
    font-weight: normal;
    line-height: 19px;
    margin-bottom: 16px;
    margin-top: 0;
  }
  
  .separator {
    border: 0.5px solid #E3E3E3;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .comment-content {
    margin-top: 0;
  }
  
  .comment-content p.comment-content--body {
    color: #000000;
    font-size: 14.2222px;
    font-weight: normal;
    line-height: 21px;
    padding-left: 0;
    padding-top: 0;
  }
  
  .comment-action-container {
    margin-bottom: 16px;
  }
  
  .comment-action-container--button {
    background-color: #000000;
    border: solid;
    border-radius: 6px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14.2222px;
    font-weight: bold;
    line-height: 21px;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
  }
  
  .comment-author--re {
    font-weight: bold;
    margin-left: 8px;
  }
  
  .content.new_lecture_comment,
  .content.moderate_lecture_comment {
    background-color: #FAFAFA;
  }
  </style>
  
  
  <style data-roadie-ignore>
  /* -------------------------------------
  RESPONSIVENESS
  !importants in here are necessary since email clients
  don't automatically override these
  ------------------------------------- */
  @media only screen and (max-device-width: 700px) {
    .table-wrapper, .legal-wrapper {
      width: 100% !important;
      margin-top: 0px !important;
    }
  
    .table-wrapper {
      border-radius: 0px !important;
    }
  
    .header {
      border-radius: 0px !important;
    }
  
    .header-title {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  
    .header-title h1 {
      font-size: 25px !important;
    }
  
    .data-table {
      width: 100% !important;
      margin: 0 !important;
    }
  }
  </style>
  